body {
  background: rgb(243, 243, 243);
}

.timetable {
  /* for Chrome */
  width: 200px;
  min-width: 200px;
  min-width: auto;
  box-sizing: 250px;
  display: inline-block;
  padding: 20px;
}

.rows {
  display: block;
  margin-top: 50px;
}


.lesson {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}

.cabinet {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}