ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 85, 255);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(100, 150, 255);
  }
  
  .active {
    background-color: rgb(0, 100, 255);
  }

.timetable {
  /* for Chrome */
  width: 200px;
  min-width: 200px;
  min-width: auto;
  box-sizing: 250px;
  display: inline-block;
  padding: 20px;
}

.rows {
  display: block;
  margin-top: 50px;
}


.lesson {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
}

.cabinet {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

.title {
  font-family: 'Inter' ;
  font-style: normal;
  font-weight: 600;
}

h1.title span {
  background: linear-gradient(90deg, #10BACD, #9D49F3, #FC6A8F, #F89311);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration-color: transparent;
}
body {
  background: rgba(243, 243, 243);
}